<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F.R.I.E.N.D.S</title>
</head>
<body>
    <h1>Friends Series</h1>
    <img src="http://127.0.0.1:5500/static/central_perk_main.jpg" height="320" >
    <h2>About Friends</h2>
    <p>Friends is a 90's Comedy TV show, based in Manhattan, about 6 friends who go through just about every life experience imaginable together; love, marriage, divorce, children, heartbreaks, fights, new jobs and job losses and all sorts of drama.</p>

    <h2>Characters</h2>
    <button>To view in Netflix</button>

    
</body>
</html>